@font-face {
  font-family: "Exo2.0";
  src: url('fonts/exo2_0-thin.woff2') format('woff2'),
       url('fonts/exo2_0-thin.woff') format('woff');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}
